body {
  background-color: azure;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100vh;
}

.base {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  height: 150px;
}

.whoLogo{
  position: fixed;
  height: 100%;
}

.login{

}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding-left: 10px;
  color: #3b4cca;
}

.pokedex {
  margin-left: 5%;
  position: fixed;
  width: 80%;
}

.gameContainer {
  width: 50%;
}

.guessbg {
  position: relative;
  border-radius: 10px;
  border-style: groove;
  margin-top: 32%;
  margin-left: 20%;
  width: 65%;
}

.quizContainer {
  display: flex;
  margin-left: 2%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.correctName {
  z-index: 1;
}

.pokemonImage {
  position: fixed;
  margin-top: -14%;
  margin-left: -14%;
  width: 10%;
  filter: brightness(0%);
}

.imageAnswer {
  animation-name: imageColor;
  animation-duration: 2s;
  animation-iteration-count: 1;
  filter: brightness(100%)
}

@keyframes imageColor {
  0% {
    filter: brightness(0%);
  }
  20% {
    filter: brightness(20%);
  }
  40% {
    filter: brightness(40%);
  }
  60% {
    filter: brightness(60%);
  }
  80% {
    filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
  }
}

.nameAnswerBox {
  margin-top: 6%;
  position: relative;
  background-color: green;
  border-radius: 10px;
  border-color: rgb(130, 168, 130);
  border-style: groove;
  width: 54%;
  height: 7vw;
}

.typewriter {
  position: relative;
  color: rgb(10, 53, 10);
  padding: 5%;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.pokemonName {
  position: relative;
  font-size: 1.5vw;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5%;
  border-radius: 5px;
  background-color: rgb(204, 204, 204);
  color: rgb(77, 74, 74);
}

#submitBtn {
  position: relative;
  border-radius: 10px;
  font-size: 1.5vw;
  background-color: #3b4cca;
  color: azure;
  font-weight: bold;
  padding: 1%;
}

#startBtn {
  position: relative;
  border-radius: 10px;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #11ac57;
  color: azure;
  padding: 1%;
}

.scoreContainer {
  position: relative;
  font-size: 1.8vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;
  margin-left: 10%;
  margin-top: 20%;
}

#spanTitle {
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(24, 52, 175);
  flex-direction: row;
}

#spanTitle2 {
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(12, 25, 82);
  flex-direction: row;
  margin-left: -18%;
}

.pokeball {
  height: 3vw;
}

.scoreboard {
  margin-top: 5%;
  margin-left: -25%;
  background-color: green;
  border-radius: 10px;
  border-color: rgb(130, 168, 130);
  border-style: groove;
  height: fit-content;
  width: 90%;
  padding: 1rem;
  color: rgb(10, 53, 10);
}

.leaderboard {
  background-color: green;
  border-radius: 10px;
  border-color: rgb(130, 168, 130);
  border-style: groove;
  padding: 1rem;
  margin-left: -25%;
  width: 90%;
  height: fit-content;
  color: rgb(10, 53, 10);
}